*{  
    transition: 100ms;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.main {
    text-align: center;
}

.cards {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.icon {
    width: 5%;
    float: left;
    display: flex;
}

.card-text {
    text-indent: -5%;
    text-align: center;
    width: 100%;
}

.card-item {
    font-weight: 700;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    align-items: center;
    font-size: 16pt;
    padding: 10px;
    margin: 15px;
    flex-direction: row;
    display: flex;
    width: 60%;
    background-color: #52525236;
}

.card-item:hover {
    background-color: #525252;
}

a {
    text-decoration: none;
    color: white;
}

.sobre{
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 40px;
    font-size: 16pt;
    margin-top: 100px;
    margin-bottom: 60px;
}

.sobre-p {
    width: 60%;
    margin: auto;
}

body{
    text-indent: 40px;
    color: white !important;
    background: linear-gradient(90deg, #242424 0%, #0f0f0f 50%, #2b2b2b 100%);
}

header{
    border: 1px solid rgb(184, 184, 184);
    backdrop-filter: blur(10px);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    z-index: 60000;
    margin-bottom: 40px;
    width: 100%;
    margin-top: 20px;
    top: 0;
    position: fixed;
    padding: 5px;
    background-color: rgba(254, 254, 254, 0.111);
    border-radius: 20px;
    width: 100%;

}

.item-menu {
    text-align: center;
    font-size: 14pt;
    font-weight: 700;
    padding: 4px;
    border-radius: 5px;
    transition: 100ms;
}

.profile{
    border-radius: 40px;
    height: 50px;
    width: 50px;
}

* {
    scrollbar-width: none;
    scrollbar-color: none;
} 

*::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: none;
    border-radius: 0px;
    border: 0px solid none;
}


@media screen and (max-width: 680px) {
    .sobre-p {
        width: 100%;
    }
    
    .card-item {
        flex-direction: column;
    }

    .icon {
        width: 100%;
        float: none;
        display: flex;
        justify-content: center;
    }

    .card-text {
        word-wrap: break-word;
        text-indent: 0%;
        text-align: center;
        width: 100%;
    }
    
    .card-item {
        width: 100% !important;
    }

    .cards {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}
